version: '3.4'

services:
  todolistapi:
    image: nandank81/todolistapi
    build:
      context: ToDoList.API
      dockerfile: Dockerfile
    ports:
      - 5001:80
    environment:
      - ConnectionString__DefaultConnection=Server=db;database=Sample;User Id=sa;Password=Password@123
    depends_on: 
      - db
    networks: 
      - todolistnetwork
  todolistbll:
    image: nandank81/todolistbll
    environment:
      - todolistapi=http://todolistapi
    build:
      context: ToDoList.BLL
      dockerfile: Dockerfile
    ports:
      - 5002:80
    depends_on: 
      - todolistapi
    networks: 
      - todolistnetwork
  db:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "Password@123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    expose:
      - 1433
    networks: 
      - todolistnetwork
    volumes:  
      - mssqlsystem:/var/opt/mssql3/
      - mssqluser:/var/opt/sqlserver
networks: 
  todolistnetwork:
    driver: bridge
volumes: 
  mssqlsystem:
    external: false
  mssqluser:
    external: false
  